apiVersion: apps/v1
kind: Deployment
metadata:
  name: hostname-display
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hostname-display
  template:
    metadata:
      labels:
        app: hostname-display
    spec:
      volumes:
      - name: html
        emptyDir: {}
      initContainers:
      - name: html-writer
        image: busybox
        command: ['sh', '-c', 'echo "<h1>Le gugu, My name is: $POD_NAME</h1>" > /usr/share/nginx/html/index.html']
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx/html
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "5Mi"
            cpu: "50m"
          limits:
            memory: "10Mi"
            cpu: "100m"
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx/html
---
apiVersion: v1
kind: Service
metadata:
  name: hostname-display-service
spec:
  type: NodePort
  selector:
    app: hostname-display
  ports:
  - port: 80
    targetPort: 80
